.snippet {
  margin-top: 75px;
}

.snippet-container {
  background: #fff;
  border: 1px solid #eaeaea;
}

.snippet-editor {
  width: 100%;
  min-height: 500px;
  padding: 10px;
  background: none;
  border: 0;
}
