* {
  outline: none;
}

pre {
  background-color: transparent !important;
  white-space: pre-wrap;
}

textarea,
.textarea {
  resize: none;
}

.app {
  margin: 0 auto;
  max-width: 960px;
}

.app-container {
  margin-top: 75px;
}

.logo {
  font-size: 2em;
  color: #000;
  font-family: sans-serif
}
